{{ define "base" }}
<!DOCTYPE html>

<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <meta name="description" content="J. Tynan Burke's website">
	    <meta name="author" content="J. Tynan Burke">
	    <link rel="icon" href="../../favicon.ico">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	    <link href="{{ .Urls.static }}css/main.css" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Tynan | {{ template "title" . }}</title>
		<style>
		{{ template "styles" . }}
		</style>
	</head>

	<body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" id="nav_home"><a href="{{ .Urls.home }}">Home</a></li>
            <li role="presentation" id="nav_blog_main"><a href="{{ .Urls.blog }}">Blog</a></li>
            <li role="presentation" id="nav_pictures"><a href="{{ .Urls.photos }}">Photos</a></li> 
            <li role="presentation" id="nav_about"><a href="#">About</a></li>
            <li role="presentation" id="nav_coding"><a href="#">Coding</a></li>
            <li role="presentation" id="nav_writing" style="padding-right: 15px;"><a href="#">Writing</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">J. Tynan Burke, MLS</h3>
     </div>

	{{ template "body" . }}

    <footer class="footer">
		<div class="row" id="home_content" style="text-align: center; background-color: #99bb99; opacity: 0.75;">
			<div class="col-lg-12">
			  <p>
				<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
				<br/>Copyright 2015 J. Tynan Burke

			    <a href="http://golang.org/">
				  <h4>Powered by Go!
				    <img src="{{ .Urls.static }}gopherbw.png" border="0" alt="Go powered" title="Go powered">
			      </h4>
			    </a>

			  </p>
			</div>
		</div>
    </footer>

	</div>

    {{ template "scripts" . }}

	</body>
</html>
{{ end }}

//optional content:
{{ define "styles" }}{{ end }}
{{ define "scripts" }}{{ end }}
{{ define "blog" }}{{ end }}
