{{ define "title" }}Blog{{ if .Title }}| {{ .Title }}{{ end }}{{ end }}

{{ define "body" }}
<div class="jumbotron">
	<span id="jumbo_content">
	{{ if .Title }}<h2>{{ .Title }}</h2>{{ end }}
	{{ if .Date }}<h3>{{ .Date }}</h3>{{ end }}
	</span>
</div>

<div class="row" id="blog_content">
	<div class="col-lg-12">
	<span id="blog_post">
			{{ .BlogPost }}
		<hr />
		<p><small>
			{{ if .Previous.a }}<span style="float: left;">
				<a href="{{ .Urls.blog }}{{ .Previous.a }}">&lt;&lt;&lt; {{ .Previous.title }}</a>
			</span>
			{{ end}}
			{{ if .Next.a }}
			<span style="float: right;">
				<a href="{{ .Urls.blog }}{{ .Next.a }}">{{ .Next.title }} &gt;&gt;&gt;</a>
			</span>
			{{ end }}
		</small></p>
    </span>

	</div>
</div>
{{ end }}

{{ define "styles" }}body {
	background-image: url(
      "{{ .Urls.static }}backgrounds/sand.jpg"
    );
	background-attachment: fixed;
	background-size: cover;
}

hr {
	border-top: 1px solid #7c5645;
}

#blog_post {
	text-align: left;
}

.header {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background: black;
	font-color: white;
}

.jumbotron {
	opacity: 0.98;
}

#contactform {
	opacity: 1.0;
	background-color: white;
	width: 100%;
	height: 100%;
}

.blockquote {
	font-size: 10px;
}
{{ end }}

{{ define "scripts" }}
<script>
	$(document).ready(function() {
		$('#contactform').hide();
        $('#gallery').hide();
		$('#contact_btn').click(function() {
			$('#jumbo_content').fadeOut("slow", function() {
			});
		 	$('#jumbo_replace').fadeIn("slow", function() {
			});
		  	$('#contactform').fadeIn("slow", function() {
		  	});
		});
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="tooltip-html"]').tooltip({
          'html': true
        });
        $('#show_gallery').click(function() {
          $('#gallery').fadeIn('slow', function() {
          });
        });
	});
</script>
{{ end }}